<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miara.yagel.maspera">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.miara.yagel.maspera.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="com.hangout.yagel.barbari.SearchActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TheBarActivity">
            <intent-filter>
                <action android:name="com.hangout.yagel.barbari.TheBar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ManageBarActivity">
            <intent-filter>
                <action android:name="com.hangout.yagel.barbari.ManageBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatUserActivity">
            <intent-filter>
                <action android:name="com.hangout.yagel.barbari.CreatUserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".YourKodActivity">
            <intent-filter>
                <action android:name="com.hangout.yagel.barbari.CreatUserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopWindowActivity"
            android:theme="@style/AppTheme.Custom"
            ></activity>
        <activity android:name=".PopSmsActivity"
            android:theme="@style/AppTheme.Custom"
            ></activity>

    </application>

</manifest>

